<div class="panel panel-default">
  <div class="panel-heading">Add Tax</div>
  <div class="panel-body">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="netAmount">Description</label>
        <input type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required />
        <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
          <div *ngIf="description.errors.required" class="text-danger">Description is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="netAmount">Value</label>
        <input type="number" class="form-control" name="value" [(ngModel)]="model.value" #value="ngModel" [ngClass]="{ 'is-invalid': f.submitted && value.invalid }" required />
        <div *ngIf="f.submitted && value.invalid" class="invalid-feedback">
          <div *ngIf="value.errors.required" class="text-danger">Value is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Taxes</div>
  <div class="panel-body">
    <p *ngIf="!taxes"><em>Loading...</em></p>
    <div class="col-md-4">
      <label>Search by Description : </label>
      <input type="text" (keyup)='search($event.target.value)' class="form-control">
    </div>
    <table class='table'>
      <thead>
        <tr>
          <th>Description</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tax of taxes">
          <td>{{ tax.description }}</td>
          <td>{{ tax.value }} %</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

