<div class="panel panel-default">
  <div class="panel-heading">Calculate Tax</div>
  <div class="panel-body">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="netAmount">Net Amount</label>
        <input type="number" class="form-control" name="netAmount" [(ngModel)]="model.netAmount" #netAmount="ngModel" [ngClass]="{ 'is-invalid': f.submitted && netAmount.invalid }" required />
        <div *ngIf="f.submitted && netAmount.invalid" class="invalid-feedback">
          <div *ngIf="netAmount.errors.required" class="text-danger">Net Amount is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Tax Rate</label>
        <select class="form-control"
                name="taxRate" [(ngModel)]="model.taxRate" #taxRate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && taxRate.invalid }" required>
          <option *ngFor="let tax of taxes" value="{{ tax.value }}">{{ tax.description }} {{tax.value }}%</option>
        </select>
        <div *ngIf="f.submitted && taxRate.invalid" class="invalid-feedback">
          <div *ngIf="taxRate.errors.required" class="text-danger">Tax Rate is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="netAmount">Gross Amount</label>
        <input type="number" class="form-control" name="grossAmount" [(ngModel)]="model.grossAmount" readonly value="{{ grossAmount}}" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Calculate</button>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Calculation History</div>
  <div class="panel-body">
    <p *ngIf="!calculationHistory"><em>Loading...</em></p>
    <table class='table'>
      <thead>
        <tr>
          <th>Net Amount</th>
          <th>Tax Rate</th>
          <th>Gross Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let history of calculationHistory">
          <td>{{ history.netAmount }}</td>
          <td>{{ history.taxRate }} %</td>
          <td>{{ history.grossAmount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
